<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell_pc.health_first">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Health First"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".Monitoring"/>
        <activity android:name=".Reminder1"/>
        <activity android:name=".Diet" />
        <activity android:name=".Medication"/>
        <activity android:name=".medicationTable"/>
        <activity android:name=".DietTable" />
        <activity android:name=".docsearch"/>
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SearchService"/>
        <activity android:name=".ViewProfileActivity" />
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".Registration" />
        <activity android:name=".NoteActivity"/>
        <activity android:name=".notepad"/>
        <activity android:name=".vitalSigns" />
        <activity android:name=".search"/>
        <activity android:name=".DoctorDetailActivity"/>
        <activity android:name=".Registration1" />
        <activity android:name=".DoctorListActivity"/>
        <activity android:name=".SavedDoctorListActivity"/>
        <activity android:name=".FindDoctorActivity"/>
        <activity android:name=".CholInfoActivity"/>
        <activity android:name=".SugarInfoActivity"/>
        <activity android:name=".searchfood"/>
        <activity android:name=".VitalsInfoActivity"/>
        <activity android:name=".PresInfoActivity"/>
        <activity android:name=".Alarm">
        </activity>
        <receiver android:name=".AlarmReciever" />

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

    </application>

</manifest>